In [1]:
# Import Dependencies
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser

#### Windows

In [2]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#### Mac

In [ ]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
# Visit the NASA Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Create BeautifulSoup Object & Parse with 'html.parser'
html = browser.html
mars_news_soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Scrape the First News Article Title
mars_first_title = mars_news_soup.find('div', class_='content_title').text
mars_first_title

"NASA's Briefcase-Size MarCO Satellite Picks Up Honors"

In [6]:
# Scrape the First News Article Paragraph
mars_first_paragraph = mars_news_soup.find('div', class_='article_teaser_body').text
mars_first_paragraph

'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'

## JPL Mars Space Images - Featured Image

In [ ]:
# # Set Executable Path & Initialize Chrome Browser
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [7]:
# Visit the JPL Mars Space Images Site
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [8]:
# Use Splinter to Navigate the Site
full_image_link = browser.find_by_id('full_image')
full_image_link.click()

In [9]:
# Use Splinter to Navigate the Site
browser.click_link_by_partial_text('more info')

In [10]:
# Create BeautifulSoup Object & Parse with 'html.parser'
html = browser.html
featured_image_soup = BeautifulSoup(html, 'html.parser')

In [11]:
# Scrape the Full Image URL
featured_image_url = featured_image_soup.find('figure', class_='lede').a['href']
featured_image_complete_url = f'https://wwww.jpl.nasa.gov{featured_image_url}'
featured_image_complete_url

'https://wwww.jpl.nasa.gov/spaceimages/images/largesize/PIA16606_hires.jpg'

## Mars Weather

In [ ]:
# # Set Executable Path & Initialize Chrome Browser
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [12]:
# Visit the Mars Weather Twitter Account
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [13]:
# Create BeautifulSoup Object & Parse with 'html.parser'
html = browser.html
tweet_soup = BeautifulSoup(html, 'html.parser')

In [14]:
# Scrape Mars Weather Info
mars_weather = tweet_soup.find('p', class_='tweet-text').text
mars_weather

'InSight sol 359 (2019-11-30) low -99.3ºC (-146.8ºF) high -21.8ºC (-7.2ºF)\nwinds from the SSE at 5.8 m/s (13.0 mph) gusting to 23.3 m/s (52.0 mph)\npressure at 6.70 hPapic.twitter.com/cKJj2YTDad'

## Mars Facts

In [15]:
# Visit the Mars Facts Webpage
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)

In [16]:
# Scrape the Mars Facts Table & Set Columns
mars_facts_df = tables[0]
mars_facts_df.columns = ['Property', 'Value']
mars_facts_df

               Property                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
# Convert DataFrame to HTML Table String
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Property</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [ ]:
# # Set Executable Path & Initialize Chrome Browser
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [18]:
# Visit the USGS Astrogeology Web Archive Site
url = "https://web.archive.org/web/20181114171728/https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [19]:
# Create BeautifulSoup Object & Parse with 'html.parser'
html = browser.html
hemi_soup = BeautifulSoup(html, 'html.parser')

In [20]:
# Create an Empty List and Append with Links For Each Hemisphere
hemi_links = []
links = hemi_soup.find_all('h3')

# Loop Through Links to Get URL For Each
for hemi in links:
    
    hemi_links.append(hemi.text)
    
hemi_links

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [21]:
# Create an Empty List and Append with Hemisphere_Image_URLs
hemi_image_urls = []

# Loop Through Hemi_Links to Get Images For Each
for hemi in hemi_links:

    # Create a Dictionary For the Given Hemisphere
    hemi_dict = {}
    
    # Click Link with Corresponding Text
    browser.click_link_by_partial_text(hemi)
    
    # Scrape Image URL and Store in Hemi_Dict
    hemi_dict['img_url'] = browser.find_by_text('Sample')['href']
    
    # Pull Title From Hemi_Links and Store in Hemi_Dict
    hemi_dict['title'] = hemi
    
    # Add Dictionary For Given Hemisphere to Hemi_Image_URLS
    hemi_image_urls.append(hemi_dict)
    
    # Navigate Back
    browser.back()

In [22]:
# Check to Ensure All Four Titles and Image URLs Were Scraped 
hemi_image_urls

[{'img_url': 'https://web.archive.org/web/20181114182238/http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://web.archive.org/web/20181114182242/http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://web.archive.org/web/20181114182245/http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://web.archive.org/web/20181114182248/http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]